@model Pallavolo.DA.Models.Giocatore

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Giocatore</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Nome)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Nome)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Cognome)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Cognome)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Nascita)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Nascita)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Numero)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Numero)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Added)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Added)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Modified)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Modified)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Deleted)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Deleted)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
